@import 'v2/vars';
@import 'v2/mixins';
@import 'v2/typography';

@import 'vendor/normalize';

html,
body {
  height: 100%;
  background-color: $background-color;
}

.outer-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.inner-wrapper {
  padding: 1rem;

  @include desktop() {
    padding: 0 1rem;
  }
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  height: $content-height;

  @include a-styles(
    $link-text-color--unvisited,
    $link-text-color--hover,
    $link-text-color--visited
  );

  .tags {
    display: flex;
    font-style: italic;
    margin: 3em 0 1em 0;

    ul {
      @include list-reset();
      display: flex;
      flex-direction: row;
    }

    li {
      padding: 0 10px;
      border-right: 1px solid #000000;
      font-style: normal;
      text-transform: lowercase;

      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }
  }

  @include desktop() {
    flex-direction: row;
  }
}

.sidebar {
  background-color: $sidebar-color;

  .inner-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @include a-styles(
    $sidebar-text-color,
    $sidebar-text-color,
    $sidebar-text-color
  );

  @include desktop() {
    @include top-space();
    width: $sidebar-width;
    flex: 1 0 auto;
    background-color: $sidebar-color;
    color: $sidebar-text-color;

    .inner-wrapper {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}

.main {
  @include desktop() {
    @include fadeout(5%, $content-width);
    @include top-space();
    width: $content-width;
    overflow-y: auto;
  }
}

.brand {
  text-decoration: none;
  color: $logo-text-color;
}

.logo {
  width: 100px;
  color: $logo-text-color;
  flex: 1 0 auto;

  .first-name {
    font-weight: 200;
  }

  .last-name {
    font-weight: 900;
  }

  @include desktop() {
    @include left-space();
  }
}

nav {
  @include flexlist();
  overflow: auto;

  li {
    align-items: stretch;

    &:hover {
      background-color: $sidebar-link-hover-color;
    }

    a.is-active {
      font-weight: bold;
    }
  }

  a {
    @include left-space();
    text-decoration: none;
    color: $sidebar-text-color;
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }

  @include desktop() {
    li {
      height: 50px;
      width: 100%;
    }
  }
}

.footer {
  @include flexlist();

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

  background-color: $sidebar-color;
  height: 100px;
  flex: 1 0 auto;

  ul {
    height: 50px;
  }

  li {
    width: 60px;
    padding: 0 0.5rem;
  }

  a {
    text-decoration: none;
    color: $logo-text-color;
    font-size: 2rem;

    &:hover {
      color: #000;
    }
  }

  @include desktop() {
    background: linear-gradient(to right,
      $sidebar-color 0%,
      $sidebar-color $sidebar-width,
      $background-color $sidebar-width,
      $background-color 100%);
    display: flex;
    padding-left: $sidebar-width;
    justify-content: center;

    li {
      justify-content: center;
    }
  }
}

.copyright {
  font-size: 0.75rem;
  width: 100%;
  text-align: center;
  color: $sidebar-text-color;
}

/**
 * Begin styles specific to article teaser.
 */
.project--logo {
  @include project-logo();

  &--static {
    img {
      filter: none;
    }
  }

  &--centered {
    text-align: center;
  }
}

.article {
  &--teaser {
    padding: 1rem 0;
    text-align: center;
  }
}
