// Colors
$background-color: rgb(255, 255, 255);
$sidebar-color: rgb(245, 245, 245);
$sidebar-text-color: rgb(119, 119, 119);
$subtitle-text-color: rgb(102, 102, 102);
$logo-text-color: rgb(86, 93, 100);
$sidebar-link-hover-color: darken($sidebar-color, 5%);
$link-text-color--unvisited: rgb(175, 108, 11);
$link-text-color--hover: rgb(107, 63, 0);
$link-text-color--visited: rgb(16, 13, 101);

// Dimensions
$sidebar-width: 25%;
$footer-height: 100px;
$content-width: calc(100% - #{$sidebar-width});
$content-height: calc(100vh - #{$footer-height});
$menu-item-width: 150px;
