{#
/**
 * Regions:
 * - page.header: Page header stuff.
 * - page.sidebar_main: Main sidebar (used for the site menu).
 * - page.content: The main content of the current page.
 * - page.content_bottom: The bottom of hte main content region.
 * - page.footer: Items in the footer region.
 */
#}

<div class="outer-wrapper">
  <div class="content">
    <section class="sidebar">
      <div class="inner-wrapper">
        <div class="logo">
          <a href="/" class="brand">
            <h1>
              <span class="first-name">T</span>
              <span class="last-name">M</span>
            </h1>
          </a>
        </div>

        {% if page.sidebar_main %}
          {{ page.sidebar_main }}
        {% endif %}
      </div>
    </section>

    <section class="main">
      <div class="inner-wrapper">
        {{ page.content }}
        {{ page.content_bottom }}
      </div>
    </section>
  </div>

  {% if page.footer %}
  <footer class="footer">
    {{ page.footer }}
    <span class="copyright">Copyright &copy; 2016 Tom Mount</span>
  </footer>
  {% endif %}
</div>
